Навыки планирования и организации; Готовность принять ответственность за результаты; Опыт управления распределенными командами; Коммуникабельность, стрессоустойчивость; Понимание работы мобильных приложений на теоретическом уровне; Понимание современных методологий разработки, умение проектировать спринты.
Навыки планирования и организации; Готовность принять ответственность за результаты; Опыт управления распределенными командами; Коммуникабельность, стрессоустойчивость; Понимание работы мобильных приложений на теоретическом уровне; Понимание современных методологий разработки, умение проектировать спринты.
Навыки планирования и организации; Готовность принять ответственность за результаты; Опыт управления распределенными командами; Коммуникабельность, стрессоустойчивость; Понимание работы мобильных приложений на теоретическом уровне; Понимание современных методологий разработки, умение проектировать спринты.
Навыки планирования и организации; Готовность принять ответственность за результаты; Опыт управления распределенными командами; Коммуникабельность, стрессоустойчивость; Понимание работы мобильных приложений на теоретическом уровне; Понимание современных методологий разработки, умение проектировать спринты.
Навыки планирования и организации; Готовность принять ответственность за результаты; Опыт управления распределенными командами; Коммуникабельность, стрессоустойчивость; Понимание работы мобильных приложений на теоретическом уровне; Понимание современных методологий разработки, умение проектировать спринты.
Навыки планирования и организации; Готовность принять ответственность за результаты; Опыт управления распределенными командами; Коммуникабельность, стрессоустойчивость; Понимание работы мобильных приложений на теоретическом уровне; Понимание современных методологий разработки, умение проектировать спринты.
Навыки планирования и организации; Готовность принять ответственность за результаты; Опыт управления распределенными командами; Коммуникабельность, стрессоустойчивость; Понимание работы мобильных приложений на теоретическом уровне; Понимание современных методологий разработки, умение проектировать спринты.